<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/styles.css' %}">
    <p>You have have selected the following to pack:</p>
    <p>Your packs can hold 3 items.</p>
    <ul>
    {% for x in player_inventory%}
        <li>{{x.name}}</li>
    {% endfor %}
    </ul>
    <p>Enter "pack" to return and pack more items</p>
    <p>Or enter items to unpack</p>
    <input type="text" id="pack"> <br>

</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% load static %}
<script src="{% static 'game/js/scripts.js' %}"></script>
</body>

</html>