{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Depart</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/styles.css' %}">
    <p>You have have selected the following to pack:</p>
    <p>Your packs can hold 3 items.</p>
    <ul>
    {% for x in player_inventory%}
        <li>{{x.name}}</li>
    {% endfor %}
    </ul>
    <p>Enter items to unpack:</p>
    <p>Or enter items to unpack</p>
    <input type="text" id="unpack"> <br>
    <p>Go back and pack more items.</p>
        <button id="gotopack">Return To Pack</button>
    <p>Read to depart?</p>
    <button id="depart">Ready</button>
    {% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% load static %}
</body>

</html>