{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/styles.css' %}">

    {% block head %}
    <title>On The Trail</title>
    {% endblock %}

</head>
<body>
    {% block body %}
    <p>       What do you want to do? </p>
    <p>
                1) Walk on. <br>
                2) Take some rest. <br>
                3) Scavenge / forage nearby area. <br>
                4) Search through packs. <br>
                5) Look at the map.  <br>
                6) Quit <br>
      </p>
    <input type="text" id="pack"> <br>
    {% endblock %}

</body>

</html>