<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Awesome Site</title>
</head>
<body>
<div class="container">
    <article class="head">
    {%  if user.is_authenticated %}
        <h1>Hi {{  user.first_name }} Welcome to my awesome website.</h1>
    {%  else %}
        <h1>Hi, guest.</h1>
    {%  endif %}
        <ul>
            {% for n in names %}
                <li>{{ n }}</li>
            {% endfor %}
        {#  a comment looks like this #}
        </ul>
    </article>
</div>
</body>
</html>
